@import url('https://fonts.cdnfonts.com/css/montserrat');

div#ticket-bg{
    position: fixed;
    top: 15vh;
    left: 5vw;
    z-index: -99;
}
div#main-ticket-card{
    position: fixed;
    width: 306px;
    height: 250px;
    top: 15vh;
    left: 5vw;
    margin-top: 26px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

div#first-row{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5%;
    h4{
        margin: 0 0 0 17%;
        font-size: .7rem;
        font-weight: 500;
    }
}

div#ticket-link-container{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 9% 0 0 -15%;

    h4#ticket-link{
        margin: 0 0 0 10%;
        font-size: .5rem;
        font-weight: 500;
        color:black;
    }
    svg{
        width: 27px;
        height: 15px;
    }
}

div#vaild-date{
    h4{
        margin: 18% 0 0 -32px;
        font-size: 0.6rem;
        font-weight: 400;
    }
}

div#last-row{
    width: 250px;
    margin: 35px 49px 0 0 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div#outher{
        width: 120px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        div#sale{
            .sale{
                margin: 0;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                text-align: left;
            }
            h4{
                margin: 0 0 26% 0;
                font-size: 14px;
                font-weight: 400;
                text-align: right;
            }
        }
        svg{
            margin-top: 20% ;
            cursor: pointer;
        }
    }
}
::ng-deep img{
    border-radius: 4px;
}

