main#main-component{
    margin: 4vh 9vw 0 2vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    app-header{
        width: 100%;
    }
    div#top-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}